@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
}

html {
  font-size: 16px;
}

body {
  font-family: "Inter", sans-serif;
  color: #333;
  background-color: #fff;
}
*,
*::before,
*::after {
  box-sizing: border-box;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
